*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bcb9bd;
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: 2px solid red;
    padding: 1rem;
}

h1{
    margin-bottom: 0.5rem;
}

.input{
    border: none;
    outline: none;
    line-height: 2rem;
    border-radius: 8px;
    margin-right: 1rem;
    padding: .3rem;
}

.add{
    border: none;
    outline: none;
    line-height: 2rem;
    border-radius: 8px;
    margin-right: .5rem;
    padding: .2rem .6rem;
    background-color: rgb(6, 103, 43);
    color: white;
}

.clear{
    border: none;
    outline: none;
    line-height: 2rem;
    border-radius: 8px;
    padding: .2rem .6rem;
    background-color: #9d0707;
    color: white;
}

